# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Models (large files)
models/*.pkl

# Uploads & Outputs
uploads/
outputs/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/